@charset "utf-8";

/* All Device */
/*추후 고려*/

/* Mobile Device */
/*지원 필요 없음*/

/* Tablet, Desktop Device */
@media all and (min-width: 768px) {
    
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .mud-pager-res-three{
        width:400px;
    }
    .mud-pager-res-chart{
        width:400px;
    }
    .mud-pager-res-four {
        width: 400px;
    }
}

@media all and (min-width: 1025px) and (max-width:1920px) {
    .mud-pager-res-three {
        width: 400px;
    }
    .mud-pager-res-chart {
        width: 900px;
    }
    .mud-pager-res-four {
        width: 450px;
    }
}

@media all and (min-width: 1921px) {
    .mud-pager-res-three {
        width: 600px;
    }
    .mud-pager-res-chart {
        width: 900px;
    }
    .mud-pager-res-four {
        width: 450px;
    }
}
