.mud-pager-res-three {
    position: relative;
    border-top: 10px solid rgba(200,200,200,1);
    
}
.mud-pager-res-four {
    position: relative;
    border-top: 10px solid rgba(200,200,200,1);
    
}
.mud-pager-res-chart {
    position: relative;
    border-top: 10px solid rgba(200,200,200,1);
    border-bottom: 10px solid rgba(200,200,200,1);
}

.mud-pager-hover {
    opacity: 1;
    transition: all 0.5s;
}

.mud-pager-hover:hover {
    transform:scale(1.02);
    opacity:0.8;
}

.wing-decoration-1 {
    width: 60px;
    height: 70px;
    background-color:rgba(107,83,254,1);
    box-sizing:border-box;
    position:absolute;
    top:0;
    right:15%;
    border-radius:0 0 50% 50%
}

.wing-decoration-2 {
    width: 60px;
    height: 70px;
    background-color: rgba(252,33,110,1);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 10%;
    border-radius: 0 0 50% 50%
}

.wing-decoration-3 {
    width: 60px;
    height: 70px;
    background-color: rgba(35,192,148,1);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 5%;
    border-radius: 0 0 50% 50%
}

.wing-decoration-short-1 {
    width: 30px;
    height: 40px;
    background-color: rgba(107,83,254,1);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 13%;
    border-radius: 0 0 50% 50%
}

.wing-decoration-short-2 {
    width: 30px;
    height: 40px;
    background-color: rgba(252,33,110,1);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 9%;
    border-radius: 0 0 50% 50%
}

.wing-decoration-short-3 {
    width: 30px;
    height: 40px;
    background-color: rgba(35,192,148,1);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 5%;
    border-radius: 0 0 50% 50%
}


.mud-chart.mud-chart-legend-top{
    position:relative;
}


.mud-chart.mud-chart-legend-top .mud-chart-legend{
    position:absolute;
    top:50px;
}

.link-decoration{
    font-weight:700;
    font-size:20px;
}